venv/
__pycache__/
*.pyc
.DS_Store
data/raw/*.mzML
data/raw/*.mzXML
data/raw/*.raw
data/raw/*.mgf
data/raw/*.d
.env
*.log
*.db
data/raw/*.mztab
data/raw/*.mgf.gz
data/raw/*.xml.gz
data/raw/*.raw
data/raw/*.gz
data/processed/*.db